.carrito{
  color:white;
  font-size:16px;
}

.product {}

h2{color:#111;}

.product {margin-top:45px;}
.product > h3 {color:#333}
.product > .price{font-weight:600;font-size:15px}
.product > .description{font-size:12px;}


.itemCounter {margin-top:10px;}
.itemCounter > span {padding-left:10px;padding-right: 10px;}
.itemCounter > button {border:0px;}


#footer{margin-top:30px;font-size:12px;padding: 2rem;}

.white {color:white}
.capitalize {text-transform: capitalize;}
.pointer{cursor:pointer}
.flexContainer{}
.flexRow{}

.marginTop{margin-top:45px;}
.marginTopSmall{margin-top:15px;}
.noMarginNoPadding{margin:0;padding:0}
.lotties{display: grid;grid-template-columns: auto auto;}

.form-control+.form-control {
  margin-top: .5rem;
}

.list-group-item.no-padding{}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px){
  .lotties{
    display: grid;
    grid-template-columns: auto;
  }
}